<mat-card>
    <mat-card-content>
        <h2>{{selectedMeal.type}}</h2>
        <table>
            <tr>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <tr *ngFor="let option of selectedMeal.options">

                <td>
                    <mat-checkbox (click)="selcetedCheckbox(selectedMeal.type, option)" [(ngModel)]="option.selected">
                        {{option.food}}
                    </mat-checkbox>
                </td>
                <td>{{option.calories}}</td>
            </tr>
        </table>

    </mat-card-content>
</mat-card>

<div style="margin-top: 16px;">
    <button mat-raised-button style="background-color: #FFE200;color: #000000; margin: 16px;" mat-button
        [matMenuTriggerFor]="aboveMenu">Meals</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button style="background-color: #FFE200;color: #000000; margin-bottom: 5px;" *ngFor="let meal of availableList"
            mat-menu-item (click)="selectMeal(meal)">{{meal.type}}</button>
    </mat-menu>
</div>